:root {
    --backgroud-blue: #5E72E4;
    --background-gray: linear-gradient(180deg, rgba(242, 243, 248, 1) 70%, rgba(255, 255, 255, 1) 100%);
    --white-color: #FFFFFF;
    --in-use-color: #FFAB00;
    --update-color: #E7D000;
    --confirm-color: #36B37E;
    --cancel-color: #FF5630;
    --font-primary: #3C4858;
    --font-second: #8492A6;
    --line-color: #EFF2F7;
    --line-header: #A3A9D5;
    --placeholder-font: #6D7175;
}

.sobre-content{
    background-color: white;
    border-radius: .5rem;
}