<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!--font final -->

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/sobre/sobre.css}">

    <script src="/js/login/login.js" th:src="@{/js/login/login.js}" defer></script>

    <!-- Outros links de estilo ou scripts que possa ter -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>

<body>
    <header class="bg-header-content">
        <nav class="page-content top-nav-content">
            <div class="itens-top-nav">
                <ul>
                    <a href="/page/cadastro-de-chaves" class="item-top-nav"> Cadastro de chaves</a>
                    <a href="/page/painel_de_chaves" class="item-top-nav"> Painel de chaves</a>
                    <a href="/page/historicoDeEmprestimos" class="item-top-nav">Histórico de empréstimos</a>
                    <a href="/page/historicoDeEmprestimos" class="item-top-nav-active">Sobre</a>
                </ul>
            </div>
            <div class="perfil-top-nav">
                <span>Olá, name </span>
                <span>foto</span>
            </div>
        </nav>
    </header>

    <main>
        <form action="" id="form-login">
            <label for="login-id">login</label>
            <input type="text" name="" id="login-id">
            <label for="senha-id">senha</label>
            <input type="password" name="" id="senha-id">
            <button type="submit" id="btn-logar">login</button>
        </form>
    </main>

</body>

</html>